body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(171,110,156);
background: linear-gradient(90deg, rgba(171,110,156,1) 0%, rgba(121,9,112,1) 45%, rgba(255,0,0,1) 100%);
}


form{
    background-color: #fff;
    border-radius: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-login{
    display: flex;
    flex-direction: column;
}

input{
    padding: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
}

.btn-login{
    background-color: bisque;
    padding: 10px;
    width: 35%;
}


.form-input:hover{
    background-color: rgb(220, 227, 233);
    
    transition: .3s;
    
}
